@import "reset.css";
@import "animation.css";
/*classList*/
.hidden {
  display: none;
}
/*CSS*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-images {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
}

.clock {
  font-size: 150px;
  font-weight: 800;
  color: white;
  padding-bottom: 7px;
  animation: Appearance 1s ease-in-out;
}

/*login - logout*/

.login-form input {
  width: 260px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  animation: Appearance 1s ease-in-out;
}

.login-form input::placeholder {
  font-size: 30px;
  font-weight: 600;
}

.login-button {
  height: 54px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  animation: Appearance 1s ease-in-out;
}

.login-button:hover {
  text-decoration: underline;
  animation: buttonHover 0.5 ease-in-out;
}

.logout {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  animation: Appearance 1s ease-in-out;
}

.logout:hover {
  text-decoration: underline;
}

#greeding {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  animation: Appearance 1s ease-in-out;
}

/*todo*/

.todo-form input {
  margin-top: 15px;
  margin-bottom: 7px;
  width: 220px;
  height: 30px;
  font-weight: 600;
  font-size: 15px;
  animation: Appearance 1s ease-in-out;
}

.todo-form input::placeholder {
  font-size: 15px;
  font-weight: 600;
}

.todo-list-li {
  font-weight: 600;
  font-size: 15px;
  color: white;
  margin-bottom: 3px;
  animation: Appearance 1s ease-in-out;
}

.todo-list-li button {
  font-size: 15px;
  padding: 0px 2px;
}

/*quote*/

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 25px;
  animation: quoteAppearance 10s ease-in-out infinite;
}

.quote span:first-child {
  font-size: 18px;
  margin-bottom: 7px;
}

/*weather*/

.weather {
  position: absolute;
  top: 15px;
  right: 17px;
  font-weight: 600;
  font-size: 15px;
  color: white;
  animation: weatherTwinkle 5s ease-in-out infinite;
}

.weather span:last-child {
  display: block;
  letter-spacing: 6px;
}
